.footer {
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    padding: 20px 15px;
    box-sizing: border-box;
}

.footer-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    text-align: center;
    margin: 0;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .footer {
        padding: 15px 10px;
    }
    .footer-text {
        font-size: 12px;
    }
}